<div class="w-[100vw] h-[100vh]">
  <nav class="bg-purple-950 h-[12%]">
    <div
      class="container mx-auto px-4 flex justify-between items-center h-full"
    >
      <div class="flex w-1/5 justify-between items-center">
        <div class="flex flex-col gap-0.5">
          <a class="text-white text-2xl font-bold">DanKlips</a>
          <div class="flex">
            <p class="text-white text-xs p-0.5 pr-2">by</p>
            <div class="flex hover:bg-orange-600 p-0.5 rounded-md">
              <img
                src="../../assets/images/github.svg"
                alt="GitHub"
                class="w-4 h-4 mr-1"
              />
              <a
                href="https://github.com/Daniel22Pereira"
                class="text-white text-xs font-bold"
                >Daniel Pereira</a
              >
            </div>
          </div>
        </div>
        <a
          href="/"
          class="text-white font-bold text-lg p-2 border-b-2 hover:bg-orange-600 rounded-md rounded-b-none"
          >Home</a
        >
      </div>

      <div class="flex items-center">
        <a
          class="text-white font-semibold px-6 py-2 border bg-purple-900 hover:bg-orange-600 rounded-lg"
          >Share a video !</a
        >
      </div>
    </div>
  </nav>
  <div class="h-[88%] w-[100%]">
    <router-outlet></router-outlet>
  </div>
</div>
