<div
  class="group cursor overflow-hidden rounded-2xl bg-white shadow-xl duration-200 hover:-translate-y-4"
>
  <div class="flex h-60 flex-col justify-between overflow-hidden">
    <img
      src="https://images.unsplash.com/photo-1601506521937-0121a7fc2a6b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fHZpZGVvZ3JhcGh5fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
      class="group-hover:scale-110 h-full w-full object-cover duration-200"
    />
  </div>
  <div class="flex-1 overflow-hidden bg-white px-6 py-4">
    <h5 class="group-hover:text-indigo-600 mb-4 text-xl font-bold">
      {{ videoName }}
    </h5>
    <div class="flex justify-end">
      <a
        href="#"
        class="group text-lg font-bold focus:text-indigo-600 hover:text-indigo-600"
      >
        <span>Watch Now</span>
      </a>
    </div>
  </div>
</div>
