<div routerLink="/clips/details/{{videoId}}" class="relative group/card hover:cursor-pointer overflow-hidden rounded-2xl bg-white shadow-xl duration-200 hover:-translate-y-4 min-h-[100%]">
  <div (click)="openModal()" class="absolute top-1 right-1 bg-red-600 hover:w-24 w-6 h-6 rounded-xl z-20 flex justify-between hover:px-2 group/delete">
    <p class="text-white text-s font-bold h-6">
      <span class="hidden group-hover/delete:block">DELETE</span>
    </p>
    <img src="../../../assets/images/cross.svg" alt="cross" />
  </div>
  <div class="flex h-40 sm:h-60 flex-col justify-between overflow-hidden">
    <img
      src="{{ videoThumbnail }}"
      class="group-hover/card:scale-110 h-full w-full object-cover duration-200"
    />
  </div>
  <div class="flex-1 overflow-hidden bg-white px-6 py-4">
    <div class="h-28 overflow-hidden">
      <h5 class="group-hover/card:text-indigo-600 text-xl font-bold">
        {{ videoName }}
      </h5>
    </div>
    <div class="flex justify-end">
      <p class="group-hover/card:text-indigo-600 text-lg font-bold">
        <span>Watch Now</span>
      </p>
    </div>
  </div>
</div>
<app-modal-delete *ngIf="showModal" (closeModal)="closeModal()" (deleteVideo)="deleteVideo()"></app-modal-delete>
